
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Teaser</th>
    <th>Description</th>
    <th>Business</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>



  <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.teaser %></td>
        <td><%= service.description %></td>
        <td><%= service.business.name %></td>
        <td>&nbsp;&nbsp;<%= link_to ' Anzeigen ', service %></td>
        <% if @userServices %>
            <% if ( @userServices.include?(service) ) %>
                <td>&nbsp;|&nbsp;<%= link_to 'Bearbeiten', edit_service_path(service) %></td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

