
<table class="listingTable">
  <colgroup>
    <col width="130">
    <col width="190">
    <col width="420">
    <col width="150">
  </colgroup>
  <thead>
  <tr>
    <th>Name</th>
    <th>Teaser</th>
    <th>Beschreibung</th>
    <% if ! @isInBusiness %>
        <th>Unternehmen</th>
    <% end %>
    <!--<th colspan="3"></th>-->
  </tr>
  </thead>

  <tbody>


  <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.teaser %></td>
        <td><%= service.description %></td>
        <% if ! @isInBusiness %>
            <td><%= link_to service.business.name, business_path(service.business) %></td>
        <% end %>
        <td><%= link_to ' Anzeigen ', service %>


        <% if @userServices %>
            <% if ( @userServices.include?(service) )  %>
                &nbsp;|&nbsp;<%= link_to 'Bearbeiten', edit_service_path(service) %>
            <% end %>
        <% end %>


        <% if @userServices %>
            <% if ( @userServices.include?(service) ) %>
                &nbsp;|&nbsp;<%= link_to 'Löschen', service, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        <% end %>
        </td>
      </tr>

  <% end %>
  </tbody>
</table>

