<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Maxcapacity:</strong>
  <%= @service.maxCapacity %>
</p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Premiumserviceend:</strong>
  <%= @service.premiumServiceEnd %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @service.teaser %>
</p>

<p>
  <strong>Business:</strong>
  <%= @service.Business %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
