<% content_for :title, "#{@service.name}" %>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @service.teaser %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>eMail:</strong>
  <%= @service.email %>
</p>


<p>
  <strong>Telefon:</strong>
  <%= @service.phone %>
</p>


<% if @userServices %>
    <% if ( @userServices.include?(@service) ) %>
        <%= link_to 'Dienstleistung bearbeiten', edit_service_path(@service) %>&nbsp;|&nbsp;
        <%= link_to 'Dienstleistung löschen', @service, method: :delete, data: { confirm: "Möchten Sie diese Dienstleistung wirklich entfernen?" } %>
        <br />
    <% end %>
<% end %>

<%= link_to 'Zum Unternehmen: ' + @service.business.name, business_path(@service.business) %>
<br />
<%= link_to 'Zurück', :back %>