<% content_for :title, "#{@service.name}" %>
<table>
    <tr>
      <td><strong>Name:</strong></td>
      <td><%= @service.name %></td>
    </tr>

    <tr>
      <td><strong>Teaser:</strong></td>
      <td><%= @service.teaser %></td>
    </tr>

    <tr>
      <td><strong>Beschreibung:</strong>&nbsp;&nbsp;</td>
      <td><%= @service.description %></td>
    </tr>

    <tr>
      <td><strong>eMail:</strong></td>
      <td><a href="mailto:<%= @service.email %>"><%= @service.email %></a></td>
    </tr>

    <tr>
      <td><strong>Telefon:</strong></td>
      <td><%= @service.phone %></td>
    </tr>
</table>
<br />
<% if @userServices %>
    <% if ( @userServices.include?(@service) ) %>
        <%= link_to 'Dienstleistung bearbeiten', edit_service_path(@service) %>&nbsp;|&nbsp;
        <%= link_to 'Dienstleistung löschen', @service, method: :delete, data: { confirm: "Möchten Sie diese Dienstleistung wirklich entfernen?" } %>
        <br />
    <% end %>
<% end %>

<%= link_to 'Zum Unternehmen: ' + @service.business.name, business_path(@service.business) %>
<br />
<%= link_to 'Zurück', :back %>