<% content_for :title, "#{@service.name}" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Teaser:</strong>
  <%= @service.teaser %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @service.description %>
</p>

<% if @userServices %>
    <% if ( @userServices.include?(@service) ) or current_user.has_role? :global_admin %>
        <%= link_to 'Dienstleistung bearbeiten', edit_service_path(@service) %> <br />
    <% end %>
<% end %>

<%= link_to 'Zum Unternehmen: ' + @service.business.name, business_path(@service.business) %>