<%= form_for(@business) do |f| %>
    <% if @business.errors.any? %>
        <div id="error_explanation">
          <h2>Es kann nicht gespeichert werden, weil:</h2>

          <ul>
            <% @business.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <%= fields_for :address, @address do |a| %>
        <div class="field">
          <%= a.label :city, 'Stadt' %><br>
          <%= a.text_field :city %>
        </div>

        <div class="field">
          <%= a.label :zipcode, 'PLZ' %><br>
          <%= a.text_field :zipcode %>
        </div>

        <div class="field">
          <%= a.label :streetName, 'Straße' %><br>
          <%= a.text_field :streetName %>
        </div>

        <div class="field">
          <%= a.label :streetNumber, 'Hausnummer' %><br>
          <%= a.text_field :streetNumber %>
        </div>
    <% end %>
    <br />
    <div class="actions">
      <%= f.submit 'Speichern'%>
    </div>
<% end %>
