<% content_for :title, @business.name %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>
<p>
  <strong>Stadt:</strong>
  <%= Address.where(id: @business.address_id).first.city %>
</p>
<p>
  <strong>PLZ:</strong>
  <%= Address.where(id: @business.address_id).first.zipcode %>
</p>
<p>
  <strong>Starße & Nr.:</strong>
  <%= Address.where(id: @business.address_id).first.streetName %>
  <%= Address.where(id: @business.address_id).first.streetNumber %>
</p>
<p>
  <strong>Dienstleistungen:</strong>
</p>
<p>
    <div class="row">
      <% if Service.where(business_id: @business.id).count > 0 %>
          <% servicessting = "" %>
          <% Service.where(business_id: @business.id).each do |s| %>
              <% servicessting << "\n - " + s.name %>
          <% end %>
          <%= render 'services/index' %>
      <% end %>



    </div>
</p>

<p>
  <strong>Mitarbeiter:</strong>
  <br />
  <% if @businessUsers %>
    <% @businessUsers.each do |user_business| %>
            &nbsp;&nbsp;<b>Name:</b> <%= user_business.user.email %>  <b>Rang:</b> <%= user_business.position %>


                <% if @admin %>
                     &nbsp;|&nbsp;
                     <%= link_to 'Bearbeiten', edit_user_business_path(id: user_business.id, business: @business) %>
                <% end %>



              <% if @admin %>
                    &nbsp;|&nbsp;
                  <%= link_to 'Aus Unternehmen entfernen', user_business, method: :delete, data: { confirm: "Möchten Sie wirklich den Mitarbeiter '#{user_business.user.email}' entfernen?" } %>
              <% end %>

           <br />
    <% end %>
  <% else %>
    <p>Keine Mitarbeiter</p>
  <% end %>
  &nbsp;&nbsp;

  <% if @admin %>
      <%= link_to 'Mitarbeiter hinzufügen', new_user_business_path(business: @business) %>
  <% end %>
</p>

<% if current_user %>
    <%= link_to 'Zurück zum Profil', profile_path(User.find(current_user).profile) %>
<% else %>
  <%= link_to 'Zurück', businesses_path %>
<% end %>

<% if @admin %>
    | <%= link_to 'Unternehmen Bearbeiten', edit_business_path(@business) %> |


    <% if Service.where(business_id: @business.id).count > 0 %>
        <%= link_to 'Unternehmen löschen', @business, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Unternehmen '#{@business.name}' löschen?\nDamit löschen Sie auch folgende Dienstleistungen:\n#{servicessting}" } %>
    <% else %>
        <%= link_to 'Unternehmen löschen', @business, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Unternehmen '#{@business.name}' löschen?" } %>
    <% end %>
<% end %>