<% content_for :title, @business.name %>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>
<p>
  <strong>Stadt:</strong>
  <%= @address.city %>
</p>
<p>
  <strong>PLZ:</strong>
  <%= @address.zipcode %>
</p>
<p>
  <strong>Starße & Nr.:</strong>
  <%= @address.streetName %>
  <%= @address.streetNumber %>
</p>
<p>
  <strong>Dienstleistungen:</strong>
</p>
<p>
<div>
  <% if @services.count > 0 %>
      <% servicessting = "" %>
      <% @services.each do |s| %>
          <% servicessting << "\n - " + s.name %>
      <% end %>
      <%= render 'services/index' %>
  <% end %>
</div>
</p>
<% if @admin %>
    <%= link_to 'Neuen Service anlegen', new_service_path %>
<% end %>
<p><p>
  <strong>Mitarbeiter:</strong>

  <br />
  <% if @businessUsers %>
      <table class="listingTable"> <tr><th>Name</th><th>Rang</th><th></th></tr>
    <% @businessUsers.each do |user_business| %>
            <tr><td><%= user_business.user.email %></td><td><%= user_business.position %></td>
              <td>
                <%= link_to 'Profil zeigen', profile_path(user_business.user.profile) %>
                <% if @admin %>
                    &nbsp;|&nbsp;
                     <%= link_to 'Bearbeiten', edit_user_business_path(id: user_business.id, business: @business) %>
                <% end %>

                <% if @admin %>
                    &nbsp;|&nbsp;
                  <%= link_to 'Aus Unternehmen entfernen', user_business, method: :delete, data: { confirm: "Möchten Sie wirklich den Mitarbeiter '#{user_business.user.email}' entfernen?" } %>
                <% end %>
              </td>
            </tr>
    <% end %>
      </table>
  <% else %>
    <p>Keine Mitarbeiter</p>
  <% end %>

  <p>
  <% if @admin %>
      <%= link_to 'Mitarbeiter hinzufügen', new_user_business_path(business: @business) %>
  <% end %>
</p>

<% if current_user %>
    <%= link_to 'Zurück zum Profil', profile_path(User.find(current_user).profile) %>
<% else %>
  <%= link_to 'Zurück', businesses_path %>
<% end %>

<% if @admin %>
    | <%= link_to 'Unternehmen Bearbeiten', edit_business_path(@business) %> |


    <% if Service.where(business_id: @business.id).count > 0 %>
        <%= link_to 'Unternehmen löschen', @business, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Unternehmen '#{@business.name}' löschen?\nDamit löschen Sie auch folgende Dienstleistungen:\n#{servicessting}" } %>
    <% else %>
        <%= link_to 'Unternehmen löschen', @business, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Unternehmen '#{@business.name}' löschen?" } %>
    <% end %>
<% end %>