<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>
<p>
  <strong>Stadt:</strong>
  <%= Address.where(id: @business.address_id).first.city %>
</p>
<p>
  <strong>PLZ:</strong>
  <%= Address.where(id: @business.address_id).first.zipcode %>
</p>
<p>
  <strong>Starße & Nr.:</strong>
  <%= Address.where(id: @business.address_id).first.streetName %>
  <%= Address.where(id: @business.address_id).first.streetNumber %>
</p>
<p>
  <strong>Dienstleistungen:</strong>
</p>
<div class="row">
  <% if Service.where(business_id: @business.id).count > 0 %>
      <% servicessting = "" %>
      <% Service.where(business_id: @business.id).each do |s| %>
          <% servicessting << "\n - " + s.name %>
      <% end %>
      <%= render 'services/index' %>
  <% end %>
  <%= link_to 'Neuen Service anlegen', new_service_path %>
</div>


<%= link_to 'Zurück', businesses_path %>

<% if @userBusinesses %>
    <% if @userBusinesses.include?(@business) %>
        | <%= link_to 'Unternehmen Bearbeiten', edit_business_path(@business) %> |


        <% if Service.where(business_id: @business.id).count > 0 %>
            <%= link_to 'Unternehmen löschen', @business, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Unternehmen '#{@business.name}' löschen?\nDamit löschen Sie auch folgende Dienstleistungen:\n#{servicessting}" } %>
        <% else %>
            <%= link_to 'Unternehmen löschen', @business, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Unternehmen '#{@business.name}' löschen?" } %>
        <% end %>
    <% end %>
<% end %>