<% content_for :title, @business.name %>

<table class="pretty-table">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @business.name %></td>
  </tr>
  <tr>
    <td rowspan="2" style="vertical-align: super"><strong>Adresse:</strong></td>
    <td>
      <%= @address.postalCode %>
      <%= @address.city %></td>
  </tr>
  <tr>
    <td>
      <%= @address.street1 %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @address.street2 %>
    </td>
  </tr>
</table>
<br />
<p>
  <strong>Dienstleistungen:</strong>
</p>
<p>
<div>
  <% if @services.count > 0 %>
      <% servicessting = "" %>
      <% @isInBusiness = true %>
      <% @services.each do |s| %>
          <% servicessting << "\n - " + s.name %>
      <% end %>
      <%= render 'services/index' %>
  <% end %>
</div>
</p>
<% if @admin %>
    <%= link_to 'Neue Dienstleistung anlegen', new_service_path %>
<% end %>
<p><p>
  <strong>Mitarbeiter:</strong>

  <br />
  <% if @businessUsers %>
    <table class="listingTable"> <tr><th>Name</th><th>Rang</th><th></th></tr>
      <% @businessUsers.each do |user_business| %>
          <tr><td><%= user_business.user.email %></td><td><%= user_business.position %></td>
            <td>
              <% usrProfile = user_business.user.profile %>
              <% if usrProfile %>
                  <%= link_to 'Profil zeigen', profile_path(user_business.user.profile) %>
              <% else %>
                  (kein Profil)
              <% end %>
              <% if @admin %>
                  &nbsp;|&nbsp;
                  <%= link_to 'Bearbeiten', edit_user_business_path(id: user_business.id, business: @business) %>
                  &nbsp;|&nbsp;
                  <%= link_to 'Aus Unternehmen entfernen', user_business, method: :delete, data: { confirm: "Möchten Sie wirklich den Mitarbeiter '#{user_business.user.email}' entfernen?" } %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
<% else %>
    <p>Keine Mitarbeiter</p>
<% end %>

<p>
  <% if @admin %>
      <%= link_to 'Mitarbeiter hinzufügen', new_user_business_path(business: @business) %>
  <% end %>
</p>


<%= link_to 'Zurück', :back %>


<% if @admin %>
    | <%= link_to 'Unternehmen Bearbeiten', edit_business_path(@business) %> |


    <% if Service.where(business_id: @business.id).count > 0 %>
        <%= link_to 'Unternehmen löschen', @business, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Unternehmen '#{@business.name}' löschen?\nDamit löschen Sie auch folgende Dienstleistungen:\n#{servicessting}" } %>
    <% else %>
        <%= link_to 'Unternehmen löschen', @business, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Unternehmen '#{@business.name}' löschen?" } %>
    <% end %>
<% end %>