<%= form_for(@user_business) do |f| %>
  <% if @user_business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_business.errors.count, "error") %> prohibited this user_business from being saved:</h2>

      <ul>
      <% @user_business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :position %><br>
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :User_id %><br>
    <%= f.text_field :User_id %>
  </div>
  <div class="field">
    <%= f.label :Business_id %><br>
    <%= f.text_field :Business_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
