<%= form_for(@user_business) do |f| %>
  <% if @user_business.errors.any? %>
    <div id="error_explanation">
      <h2>Es kann nicht gespeichert werden, weil:</h2>

      <ul>
      <% @user_business.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= fields_for :user, User.where(id:@user_business.user_id).first do |u| %>

  <div class="field">
    <%= u.label :email, 'Mitarbeiter' %><b>&nbsp;(E-Mail)</b><br />
    <% if @edit %>
        <%= u.text_field :email, disabled: "disabled" %>
    <% else %>
        <%= u.text_field :email %>
    <% end %>

  </div>

<% end %>

  <br />
  <div class="field">
    <%= f.label :position %><br>
    <%= f.select :position, UserBusiness.positions.keys.to_a %>
  </div>
    <%= f.hidden_field :business_id, value: @business.id %>
  <br />
  <div class="actions">
    <%= f.submit 'Speichern' %>
  </div>
<% end %>
