<h1>Listing user_businesses</h1>

<table>
  <thead>
    <tr>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_businesses.each do |user_business| %>
      <tr>
        <td><%= user_business.position %></td>
        <td><%= link_to 'Show', user_business %></td>
        <td><%= link_to 'Edit', edit_user_business_path(user_business) %></td>
        <td><%= link_to 'Destroy', user_business, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User business', new_user_business_path %>
