<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @user_business.position %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_business.User %>
</p>

<p>
  <strong>Business:</strong>
  <%= @user_business.Business %>
</p>

<%= link_to 'Edit', edit_user_business_path(@user_business) %> |
<%= link_to 'Back', user_businesses_path %>
