<%= form_for(@profile) do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2>Folgende(r) Fehler muss/müssen erst behoben werden:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :gender, 'Geschlecht' %><br>
      <%= f.select :gender, Profile.genders.keys.to_a %>
    </div>
    <div class="field">
      <%= f.label :firstname, 'Vorname' %><br>
      <%= f.text_field :firstname, :required => true %>
    </div>
    <div class="field">
      <%= f.label :lastname, 'Nachname' %><br>
      <%= f.text_field :lastname, :required => true %>
    </div>
    <div class="field">
      <%= f.label :phone, 'Telefonnummer' %><br>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :city, 'Stadt' %><br>
      <%= f.text_field :city %>
    </div>
    <div class="field">
      <%= f.label :postcode, 'Postleitzahl' %><br>
      <%= f.text_field :postcode %>
    </div>
    <div class="field">
      <%= f.label :streetname, 'Straße' %><br>
      <%= f.text_field :streetname %>
    </div>
    <div class="field">
      <%= f.label :housenumber, 'Hausnummer' %><br>
      <%= f.text_field :housenumber %>
    </div>
    <div class="field">
      <%= f.label :photo, 'Profilbild (auslassen, wenn keine Änderung gewünscht ist)' %><br>
      <%= f.file_field :photo %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit 'Speichern' %>
    </div>
<% end %>
