<%= form_for @profile do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2>Folgende/r Fehler muss/müssen erst behoben werden:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-section">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
            <%= f.label :gender, 'Geschlecht' %>
            <%= f.select :gender, Profile.genders.keys.to_a, {}, {class: "form-control"} %>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-4 col-xs-8">
            <%= f.label :firstname, 'Vorname' %>
            <%= f.text_field :firstname, class: "form-control" %>
          </div>
          <div class="col-lg-4 col-md-2 col-sm-6 col-xs-12">
            <%= f.label :lastname, 'Nachname' %>
            <%= f.text_field :lastname, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-section">
        <%= f.label :birthday, 'Geburtstag' %>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <%= f.date_select :birthday,
                              {:order => [:day, :month, :year], :start_year => Date.today.year, :end_year => Date.today.year-100, include_blank: true},
                              {:class => "form-control no-minwidth"}
            %>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 new-section">
        <h3 class="title">Kontakt</h3>
        <%= render 'contacts/form' %>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 new-section">

        <h3 class="title">Adresse</h3>
        <%= render 'addresses/form' %>
      </div>


      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-section">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3 class="title">Profilbild</h3>
            <% if @profile.photo.blank? %>
                <%= image_tag 'profile/default/thumb/Profilbild.png', {class: 'thumb-pic'} %>
            <% else %>
                <%= image_tag @profile.photo.url(:thumb), {class: 'thumb-pic'} %>
            <% end %>
            <%= f.label :photo, '(auslassen, wenn keine Änderung gewünscht ist)' %>
            <%= f.file_field :photo, {class: "form-control"} %>
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-section">
        <%= f.submit 'Speichern', {class: "btn btn-special btn-color"} %>
      </div>
    </div>
<% end %>