<% content_for :title, "Profil-Liste" %>

<table class="listingTable">
  <thead>
    <tr>
      <th>Geschlecht</th>
      <th>Vorname</th>
      <th>Nachname</th>
      <th>Telefonnummer</th>
      <th>Stadt</th>
      <th>PLZ</th>
      <th>Straße</th>
      <th>Hausnummer</th>
      <!--<th>User</th>-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.gender %></td>
        <td><%= profile.firstname %></td>
        <td><%= profile.lastname %></td>
        <td><%= profile.phone %></td>
        <td><%= profile.city %></td>
        <td><%= profile.postcode %></td>
        <td><%= profile.streetname %></td>
        <td><%= profile.housenumber %></td>
        <!--<<td>< profile.user ></td>-->

        <td>&nbsp;&nbsp;<%= link_to 'Anzeigen', profile %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>