<% content_for :title, 'Profil' %>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 new-section">
    <h3 class="title"><%= @profile.gender + " " + @profile.firstname + " " + @profile.lastname %></h3>
    <table class="pretty-table">
      <tr>
        <td colspan="2">
          <h4>Kontakt</h4>
        </td>
      </tr>
      <tr>
        <td><strong>E-Mail:</strong></td>
        <td><%= @profile.contact.mail %></td>
      </tr>

      <tr>
        <td><strong>Telefonnummer:</strong></td>
        <td><%= @profile.contact.phone %></td>
      </tr>

      <tr>
        <td><strong>Mobilfunknummer:</strong></td>
        <td><%= @profile.contact.mobilePhone %></td>
      </tr>

      <tr>
        <td colspan="2">
          <h4>Adresse</h4>
        </td>
      </tr>
      <tr>

        <td>Adresse:</td>
        <td>
          <%= @address.postalCode %>
          <%= @address.city %><br>
          <%= @address.street1 %><br>
          <%= @address.street2 %>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 new-section">
    <% if @profile.photo.blank? %>
        <%= image_tag 'profile/default/medium/Profilbild.png', style: 'max-width: 300px; max-height: 300px;' %>
    <% else %>
        <%= image_tag @profile.photo.url(:event_index) %>
    <% end %>
  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 new-section">
    <table class="pretty-table">
      <tr>
        <td colspan="2">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
              <h4>Events</h4>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
              <% if @userProfile && @userProfile == @profile %>
                  <%= link_to '+', new_event_path, class: "btn btn-default btn-small pull-right" %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% @profile.events.each do |event| %>
          <tr>
            <td><strong><%= event.name %></strong></td>
            <td><%= link_to "Anzeigen", event, class: "pull-right" %></td>
          </tr>
      <% end %>
      <tr>
        <td colspan="2">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
              <h4>Unternehmen</h4>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
              <% if @userProfile && @userProfile == @profile %>
                  <%= link_to '+', new_event_path, class: "btn btn-default btn-small pull-right" %>
              <% end %>
            </div>
          </div>
        </td>
      </tr>
      <% @profile.user.businesses.each do |business| %>
          <tr>
            <td><strong><%= business.name %></strong></td>
            <td><%= link_to "Anzeigen", business_path(business), class: "pull-right" %></td>
          </tr>
      <% end %>

      <% if @profile.user.businesses.count >= 1 %>
          <tr>
            <td colspan="2">
              <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <h4>Dienstleitungen</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
                  <% if @userProfile && @userProfile == @profile %>
                      <%= link_to '+', new_event_path, class: "btn btn-default btn-small pull-right" %>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
          <% Service.where(business: @profile.user.businesses).each do |service| %>
              <tr>
                <td><strong><%= service.name %></strong></td>
                <td><%= link_to "Anzeigen", service_path(service), class: "pull-right" %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>
<%= link_to 'Zurück', :back %>

<% if @userProfile %>
    <% if @userProfile == @profile %>
        &nbsp;|&nbsp;
        <%= link_to 'Profil bearbeiten', edit_profile_path(@profile) %>&nbsp;|&nbsp;
        <%= link_to 'Profil und Account löschen', @profile, method: :delete, data: {confirm: "Möchten Sie wirklich Ihr Profil und Ihren Account löschen?"} %>
    <% end %>
<% end %>