<% content_for :title, @profile.firstname + ' ' + @profile.lastname %>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <p>
      <strong>Geschlecht:</strong>
      <%= @profile.gender %>
    </p>

    <p>
      <strong>Vorname:</strong>
      <%= @profile.firstname %>
    </p>

    <p>
      <strong>Nachname:</strong>
      <%= @profile.lastname %>
    </p>

    <p>
      <strong>E-Mail:</strong>
      <%= @profile.user.email %>
    </p>

    <p>
      <strong>Telefonnummer:</strong>
      <%= @profile.phone %>
    </p>

    <p>
      <strong>Ort:</strong>
      <%= @profile.city %>
    </p>

    <p>
      <strong>PLZ:</strong>
      <%= @profile.postcode %>
    </p>

    <p>
      <strong>Straße</strong>
      <%= @profile.streetname %>
    </p>

    <p>
      <strong>Hausnummer:</strong>
      <%= @profile.housenumber %>
    </p>
  </div>
  <div class="col-md-6">
    <%= image_tag @profile.photo.url(:medium) %>
  </div>
</div>
<p>
  <strong>Unternehmen:</strong>
</p>
<div class="row">
  <% @profile.user.businesses.each do |business| %>
      <%= link_to business, class:"col-md-2 btn btn-default btn-lg", style:'margin:5px;' do %>
          <%= business.name %>
      <% end %>
  <% end %>

  <% if @userProfile %>
      <% if @userProfile == @profile %>
        <%= link_to 'Geschäft anlegen', new_business_path, class:"col-md-2 btn btn-default btn-lg", style:'margin:5px;' %>
      <% end %>
  <% end %>

</div>
<% if @profile.user.businesses.count >= 1 %>
    <p>
      <strong>Dienstleitungen:</strong>
    </p>
    <div class="row">
      <% Service.where(business: @profile.user.businesses).each do |service| %>
          <%= link_to service, class:"col-md-2 btn btn-default btn-lg", style:'margin:5px;' do %>
              <%= service.name %>
          <% end %>
      <% end %>

      <% if @userProfile %>
          <% if @userProfile == @profile %>
            <%= link_to "Neue Dienstleistung", new_service_path, class:"col-md-2 btn btn-default btn-lg", style:'margin:5px;' %>
          <% end %>
      <% end %>

    </div>
<% end %>
</br>
</br>
<%= link_to 'Zurück', :back %>

<% if @userProfile %>
    <% if @userProfile == @profile %>
        &nbsp;|&nbsp;
        <%= link_to 'Profil bearbeiten', edit_profile_path(@profile) %>&nbsp;|&nbsp;
        <%= link_to 'Profil und Account löschen', @profile, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Profil und Ihren Account löschen?" } %>
    <% end %>
<% end %>