<% content_for :title, @profile.firstname + ' ' + @profile.lastname %>

<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-6">
    <table >
        <tr>
          <td><strong>Geschlecht:</strong></td>
          <td><%= @profile.gender %></td>
        </tr>

        <tr>
          <td><strong>Vorname:</strong></td>
          <td><%= @profile.firstname %></td>
        </tr>

        <tr>
          <td><strong>Nachname:</strong></td>
          <td><%= @profile.lastname %></td>
        </tr>

        <tr>
          <td><strong>E-Mail:</strong></td>
          <td><%= @profile.user.email %></td>
        </tr>

        <tr>
          <td><strong>Telefonnummer:</strong>&nbsp;&nbsp;</td>
          <td><%= @profile.phone %></td>
        </tr>

        <tr>
          <td><strong>Ort:</strong></td>
          <td><%= @profile.city %></td>
        </tr>

        <tr>
          <td><strong>PLZ:</strong></td>
          <td><%= @profile.postcode %></td>
        </tr>

        <tr>
          <td><strong>Straße</strong></td>
          <td><%= @profile.streetname %></td>
        </tr>

        <tr>
          <td><strong>Hausnummer:</strong></td>
          <td><%= @profile.housenumber %></td>
        </tr>
    </table>
  </div>
  <div class="col-md-6">
    <% if @profile.photo.blank? %>
        <%= image_tag 'profile/one_member.png', style: 'max-width: 300px; max-height: 300px;' %>
    <% else %>
        <%= image_tag @profile.photo.url(:medium) %>
    <% end %>
  </div>
</div>
<p>
  <strong>Unternehmen:</strong>
</p>
<div class="row">
  <% @profile.user.businesses.each do |business| %>
      <%= link_to business, class:"col-md-2 btn btn-default btn-lg", style:'margin:5px;' do %>
          <%= business.name %>
      <% end %>
  <% end %>

  <% if @userProfile %>
      <% if @userProfile == @profile %>
          <%= link_to 'Geschäft anlegen', new_business_path, class:"col-md-2 btn btn-default btn-lg", style:'margin:5px;' %>
      <% end %>
  <% end %>

</div>
<% if @profile.user.businesses.count >= 1 %>
    <p>
      <strong>Dienstleitungen:</strong>
    </p>
    <div class="row">
      <% Service.where(business: @profile.user.businesses).each do |service| %>
          <%= link_to service, class:"col-md-2 btn btn-default btn-lg", style:'margin:5px;' do %>
              <%= service.name %>
          <% end %>
      <% end %>

      <% if @userProfile %>
          <% if @userProfile == @profile %>
              <%= link_to "Neue Dienstleistung", new_service_path, class:"col-md-2 btn btn-default btn-lg", style:'margin:5px;' %>
          <% end %>
      <% end %>

    </div>
<% end %>
</br>
</br>
<%= link_to 'Zurück', :back %>

<% if @userProfile %>
    <% if @userProfile == @profile %>
        &nbsp;|&nbsp;
        <%= link_to 'Profil bearbeiten', edit_profile_path(@profile) %>&nbsp;|&nbsp;
        <%= link_to 'Profil und Account löschen', @profile, method: :delete, data: { confirm: "Möchten Sie wirklich Ihr Profil und Ihren Account löschen?" } %>
    <% end %>
<% end %>