<% content_for :title, "Branchen" %>
<script src="/assets/portfolio.js"></script>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div id="options">
    <ul id="filters" class="option-set clearfix" data-option-key="filter">
      <li><a href="#filter" data-option-value="*" class="selected">All</a></li>
      <% BranchCategory.all.each do |bc| %>
          <li><a href="#filter" data-option-value=".<%= bc.name %>"><%= bc.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12 portfolio-wrap">
  <div class="row">
    <div class="portfolio">
      <% @branches.each do |b| %>
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 <%= b.branchCategory.name %> jquery item">
            <%= link_to "Branche/#{b.name}" do %>
                <div class="portfolio-item">
                  <div class="portfolio-item-title">
                    <p>
                      <%= b.name %>
                    </p>
                  </div>
                  <div class="clearfix"></div>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<% if can? :update, :branch %>
<%= link_to 'New Branch', new_branch_path %>
<% end %>

