<% content_for :title, "Branche: #{@branch.name}" %>
<p id="notice"><%= notice %></p>

<%= form_for( "Branche/#{@branch.name}", method: :get ) do |f| %>

  <input type="text" name="filter[zipcode]" value="<%= if defined? params['filter']['zipcode'] then params['filter']['zipcode'] end %>" />
  <button type="submit">Filtern</button>

    <% end %>

<div>
  <h3 class="title">Branchecategory:</h3>
  <%= @branch.branchCategory.name %>
</div>

<div>
  <h3 class="title">Anbieter:</h3>
  <% if Service.where(branch_id: @branch.id).count == 0 %>
      <span>Keine Anbieter vorhanden</span>
  <% else %>
      <%= render 'services/index' %>
  <% end %>
</div>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
