<% content_for :title, 'Events' %>

<div class="well">
  <h4 class="title">Filter:</h4>

  <form action="" method="get">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 new-section">
            <%= fields_for :event_genre do |eg| %>
                <h3 class="title">Art des Events</h3>
                <%= eg.collection_check_boxes :event_genre_ids, EventGenre.all, :id, :name, multiple: true do |p| %>

                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <%= p.check_box(checked: if params['event_genre'] && params['event_genre']['event_genre_ids'].include?(p.object.id.to_s) then true end) + " " + p.label %>
                    </div>
                <% end %>
            <% end %>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 new-section">
            <h3 class="title">Art des Events</h3>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <label for="location">Standort</label><br>
              <input type="text" class="form-control" placeholder="Münster" name="usrloc" value="<%= if @loc_checked then @loc_checked.address end  %>"  onClick="this.select(); this.focus()">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="row">
                <label class="col-lg-6" for="range">Umkreis:</label>
                <div class="col-lg-6 text-right" >
                  <output name="amount" style="display: inline" for="range"><%= @range %></output>
                  <span> km</span>
                </div>
              </div>
              <input type="range" class="form-control"  name="range" step="10" min="0" max="200" value="<%= @range %>"  oninput="amount.value=range.value">
            </div>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            <button class="btn-color btn-normal" style="border:none;" type="submit">Filtern</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>




<div class="well">
  <h3 class="title">Events:</h3>

  <% success = false %>
  <div class="row">
    <% unless (@usr_loc.nil?) %>
        <div class="col-lg-12">
          <span>Ergebnisse beim Standort <i><%= "#{@loc_checked.address}"%></i> im Umkreis von <i><%= "#{@range}" %></i> km:</span>
        </div>
    <% end %>
    <% @events.each do |event| %>

        <%
           show_genre = false
           if !params['event_genre'] || params['event_genre'] && params['event_genre']['event_genre_ids'].count == 1 #Es existiert immer ein leerer Eintrag: [""]
             show_genre = true
           end
           if event.event_genres
             event.event_genres.each { |e|
               if params['event_genre'] && params['event_genre']['event_genre_ids'].include?(e.id.to_s)
                 show_genre = true
               end
             }
           end

           loc_to = event.event_location.address
           show_location = false
           if (@usr_loc.nil? || ((!(@loc_checked.nil?) && !(loc_to.nil?)) && (/^[\d]+(\.[\d]+){0,1}$/ === @loc_checked.distance_to(loc_to).round(2).to_s) && (/^[\d]+(\.[\d]+){0,1}$/ === @range.to_s) )) && (@usr_loc.nil? || (@loc_checked.distance_to(loc_to).round(2).to_i <= @range.to_i))
             show_location = true
           end
        %>

        <% if show_genre && show_location %>
            <% success = true %>
            <%= link_to event do %>
                <div class="col-lg-12" style="margin:5px">
                  <div class="portfolio-item">
                    <h4><%= event.name %></h4>
                    <div class="col-lg-6 col-sm-12">
                      <table class="pretty-table">
                        <% unless (@usr_loc.nil?) %>
                            <tr>
                              <td>Entfernung:</td>
                              <td><%= @loc_checked.distance_to(loc_to).round(2) %> km</td>
                            </tr>
                        <% end %>
                        <tr>
                          <td>Event Location:</td>
                          <td><%= event.event_location.name %></td>
                        </tr>
                        <tr>
                          <td>Adresse:</td>
                          <td>
                            <%= event.event_location.address.postalCode %>
                            <%= event.event_location.address.city %><br>
                            <%= event.event_location.address.street1 %><br>
                            <%= event.event_location.address.street2 %>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <table class="pretty-table">
                        <tr>
                          <td>Art des Events:</td>
                          <td>
                            <% event.event_genres.each{|eg| %>
                                <%= eg.name %><br>
                            <% } %>
                          </td>
                        </tr>
                        <tr>
                          <td>Beschreibung:</td>
                          <td><%= event.description %></td>
                        </tr>
                      </table>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
    <% unless success %>
        <div class="col-lg-12"><br>
          <span><i class="fa fa-frown-o fa-2x"></i>  Leider keine Ergebnisse gefunden.</span>
          <br><br>
          <span>Tipp: <strong>Suchumkreis vergrößern</strong></span>
        </div>
    <% end %>
  </div>

</div>


<%= link_to 'Event anlegen', new_event_path %>
