<% content_for :title, @event.name %>
<div class="row">
  <div class="col-lg-12">
    <% if ((@event.who_has_access_id == 2) && !(params['password_for_event'] == (@event.password))) && !@owner %>

        <%= form_for(events_path(@event), method: :get, :html => {:class => 'reply'}) do |f| %>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <%= f.label :password_for_event, "Passwort für dieses Event" %><br>
                <%= f.text_field :password_for_event, class: "form-control", name: "password_for_event" %>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <%= f.submit "Event anzeigen" %>
              </div>
            </div>
        <% end %>
    <% elsif (@event.who_has_access_id == 1) ||
            ((@owner)) ||
            ((@event.who_has_access_id == 2) && (params['password_for_event'] == (@event.password))) %>


          <% if @event.flyer %>
                <div class="flyer-show">
                  <%= image_tag @event.flyer.url(:banner) %>
                </div>
          <% end %>

        <div class="col-lg-7 col-md-9 col-sm-8 col-xs-8 new-section">

          <p>
            <strong>Gastgeber:</strong>
          <ul>
            <% @profiles.each do |profile| %>
                <li><%= link_to profile.profile.firstname + " " + profile.profile.lastname, profile_path(profile.profile) %></li>
            <% end %>
            <% @businesses.each do |business| %>
                <li><%= link_to business.business.name, business_path(business.business) %></li>
            <% end %>
            <% @services.each do |service| %>
                <li><%= link_to service.service.name, service_path(service.service) %></li>
            <% end %>
          </ul>
          </p>

          <p>
            <strong>Wer darf das Event aufrufen?:</strong>
            <%= WhoHasAccessToEvent.find(@event.who_has_access_id).who %>
          </p>

          <% if (@event.who_has_access_id == 2) %>
              <p>
                <strong>Passwort:</strong>
                <%= @event.password %>
              </p>
          <% end %>

          <p>
            <strong>Datum:</strong>
            <%= @event.date.strftime('%d %m %Y') %>
          </p>

          <p>
            <strong>Uhrzeit:</strong>
            <%= @event.time.strftime('%H:%M') %>
          </p>

          <p>
            <strong>Location:</strong>
            <%= @event.event_location.name %>
          </p>

          <p>
            <strong>Adresse:</strong>
            <%= @address.city %>
            <%= @address.postalCode %><br>
            <%= @address.street1 %><br>
            <%= @address.street2 %>
          </p>

          <p>
            <strong>Beschreibung:</strong>
            <%
               @event.description.chars.each { |c|
                 if c == "\n"
            %><br><%
                       else
                    %><%= c %><%
                   end
                   }
                %>
          </p>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 new-section">
          <div class="row">
          <iframe src="http://maps.google.de/maps?hl=de&amp;q=<%= @address.latitude.to_s + " " + @address.longitude.to_s %>&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed"
                  scrolling="no" marginheight="0" marginwidth="0" frameborder="0" height="300px" width="100%">
          </iframe>
          </div>
        </div>
    <% elsif ((@event.who_has_access_id == 3) && (!@owner)) %>
        <p>
          <strong>Keine Berechtigung</strong>
        </p>
    <% end %>
  </div>

</div>


<%= link_to 'Zurück', :back %>
<% if current_user %>
    <% if current_user.has_role? :eventOwner, @event %>
        &nbsp;|&nbsp;<%= link_to 'Bearbeiten', edit_event_path(@event) %>
        &nbsp;|&nbsp;<%= link_to 'Löschen', @event, method: :delete, data: {confirm: 'Sind Sie sicher?'} %>
    <% end %>
<% end %>
