<% content_for :title, "Suchen, Finden, Feiern" %>
<div class="row">
  <div class="portfolio-pad">
    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0 "></div>
    <%= link_to 'events' do %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
          <div class="portfolio-item">
            <%= image_tag 'Events.png' %>
            <div class="portfolio-item-title">
                <span class="text-center">
                  Events
                </span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
    <% end %>
    <%= link_to 'Branchen' do %>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
          <div class="portfolio-item">
            <%= image_tag 'Branchen.png' %>
            <div class="portfolio-item-title">
                <span class="text-center">
                  Branchen
                </span>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
    <% end %>
    <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0 "></div>
  </div>
</div>

<div class="divider"></div>

<!-- Latest Posts start -->
<div class="latest-posts">
  <div class="row">
    <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
      <h3 class="title">Neuste Events</h3>
    </div>
    <div class="blog-showcase row">
      <ul class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
        <%
           counter = 0
           Event.where(who_has_access_id: 1).order("created_at").each { |event|
             if (event.flyer && (counter <= 2))
               counter = counter + 1
        %>

                <% if (counter == 3) %>
                    <li class="blog-first-el">
                <% else %>
                    <li class="">
                <% end %>

                <%= link_to event do %>
                    <div class="blog-showcase-thumb col-lg-4">
                      <div class="portfolio-item">
                        <span class="portfolio-item-hover"></span>
                        <span class="fullscreen"><i class="fa fa-eye"></i></span>
                        <%= image_tag event.flyer.url, html = {alt: event.name} %>
                      </div>
                    </div>
                <% end %>

                <div class="blog-showcase-extra-info col-lg-4">
                  <span><%= link_to "#{event.date}", event %></span>
                  <h4><%= link_to event.name, event %></h4>
                  <table class="pretty-table">
                    <tr>
                      <td><i class="fa fa-map-marker fa-3x"></i></td>
                      <td><%= event.event_location.name %><br>
                       <span class="small">
                         <%= event.event_location.address.postalCode %>
                         <%= event.event_location.address.city %>,
                         <%= event.event_location.address.street1 %>
                       </span>
                      </td>
                    </tr>
                  </table>

                  <%= link_to event do %>
                      Mehr lesen <i class="fa fa-angle-double-right"></i>
                  <% end %>
                </div>
                </li>
            <% end %>
        <% } %>
      </ul>
    </div>
    <div class="divider"></div>
  </div>
</div>
<!-- Latest Posts End -->