<p id="notice"><%= notice %></p>

<p>
  <strong>Gender:</strong>
  <%= @profil.gender %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @profil.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @profil.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profil.user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @profil.phone %>
</p>

<p>
  <strong>City:</strong>
  <%= @profil.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profil.postcode %>
</p>

<p>
  <strong>Streetname:</strong>
  <%= @profil.streetname %>
</p>

<p>
  <strong>Housenumber:</strong>
  <%= @profil.housenumber %>
</p>

<p>
  <strong>User:</strong>
  <%= @profil.user %>
</p>

<%= link_to 'Edit', edit_profil_path(@profil) %> |
<%= link_to 'Back', profils_path %>
