<h1>Listing music_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @music_types.each do |music_type| %>
      <tr>
        <td><%= music_type.name %></td>
        <td><%= music_type.description %></td>
        <td><%= link_to 'Show', music_type %></td>
        <td><%= link_to 'Edit', edit_music_type_path(music_type) %></td>
        <td><%= link_to 'Destroy', music_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Music type', new_music_type_path %>
