<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @music_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @music_type.description %>
</p>

<%= link_to 'Edit', edit_music_type_path(@music_type) %> |
<%= link_to 'Back', music_types_path %>
