<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? "#{yield(:title)} | Partychamp" : "Partychamp" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application" %>


</head>
<body>
<!--
<div class="page-mask">
  <div class="page-loader">

    <div class="spinner"></div>
    Loading...
  </div>
</div>
-->
<div class="wrap">
  <!-- Header Start -->
  <header id="header">
    <!-- Header Top Bar Start -->
    <div class="top-bar">
      <div class="slidedown collapse">
        <div class="container">
          <div class="phone-email pull-left">
            <a><i class="fa fa-phone"></i> Call Us : +49 176 237 210 37</a>
            <a href="mailto:info@partychamp.de"><i class="fa fa-envelope"></i> Email : info@partychamp.de</a>
          </div>
          <div class="follow-us pull-right">
            <ul class="social pull-left">
              <li class="facebook"><a href="https://www.facebook.com/partychamp"><i class="fa fa-facebook"></i></a></li>
              <!--<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>-->
            </ul>
            <div id="search-form" class="pull-right">
            <!--  <form action="#" method="get">
                <input type="text" class="search-text-box" placeholder="Search...">
              </form>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header Top Bar End -->
    <!-- Main Header Start -->
    <div class="main-header">
      <div class="container">
        <!-- TopNav Start -->
        <div class="topnav navbar-header">
          <a class="navbar-toggle down-button" data-toggle="collapse" data-target=".slidedown">
            <i class="fa fa-angle-down icon-current"></i>
          </a>
        </div>
        <!-- TopNav End -->
        <!-- Logo Start -->
        <div class="logo pull-left">
          <h1>
            <%= link_to (welcomes_path) do %>
                <%= image_tag ('partychamp.svg'), alt: "Partychamp", class: "logo" %>
            <% end %>
          </h1>
        </div>
        <!-- Logo End -->
        <!-- Mobile Menu Start -->
        <div class="mobile navbar-header">
          <a class="navbar-toggle" data-toggle="collapse" href=".navbar-collapse">
            <i class="fa fa-bars fa-2x"></i>
          </a>
        </div>
        <!-- Mobile Menu End -->
        <!-- Menu Start -->
        <nav class="collapse navbar-collapse menu">
          <ul class="nav navbar-nav sf-menu">
            <% unless current_user %>
                <li><%= link_to "Registrieren", new_user_registration_path  %></li>
                <li><%= link_to "Login", new_user_session_path %></li>
            <% else %>
                <li>
                  <a id="current" href="">
                    <%= current_user.email %>
                    <span class="sf-sub-indicator">
                      <i class="fa fa-angle-down "></i>
                    </span>
                  </a>
                  <ul>
                    <% if Profile.find_by_user_id(current_user) %>
                        <li><%= link_to "Mein Profil", profile_path(Profile.find_by_user_id(current_user)), class: 'sf-with-ul' %></li>
                    <% else %>
                        <li><%= link_to "Profil anlegen", new_profile_path, class: 'sf-with-ul' %></li>
                    <% end %>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'sf-with-ul' %></li>
                  </ul>
                </li>
            <% end %>
          </ul>
        </nav>
        <!-- Menu End -->
      </div>
    </div>
    <!-- Main Header End -->
  </header>
  <!-- Header End -->

  <!-- Content Start -->
  <div id="main">
    <!-- Title, Breadcrumb Start-->
    <div class="breadcrumb-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <% if content_for?(:title) %>
                <h2 class="title"><%= yield(:title) %></h2>
            <% else %>
                <h2 class="title" style="color:red; background:yellow">NO HEADLINE</h2>
            <% end %>
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
            <div class="breadcrumbs pull-right">
              <ul>
                <li>Sie Sind hier:</li>
                <li><%= link_to 'Partychamp', root_path %></li>
                <% unless params[:action] == 'index' %>
                    <li><%= link_to params[:controller].titleize, "/#{params[:controller]}" %></li>
                <% end %>

                <li><%= yield(:title) %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Title, Breadcrumb End-->
    <!-- Main Content start-->
    <div class="content">
      <div class="container">
        <% bootstrap_flash %>
        <%= render 'layouts/messages' %>

        <script src="/assets/custom.js?body=1"></script>
        <%= yield %>
      </div> <!-- /container -->
    </div>
  </div>
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <section class="col-lg-6 col-md-6 col-xs-12 col-sm-6 footer-one">
            <h3>Über uns</h3>
            <p>
              Partychamp - Suchen Finden Feiern <br>
              Alles für Ihr Event!
            </p>
          </section>
          <section class="col-lg-6 col-md-6 col-xs-12 col-sm-6 footer-two">
            <h3>Kontakt</h3>
            <ul class="contact-us">
              <li>
                <i class="fa fa-map-marker"></i>
                <p>
                  <strong class="contact-pad">Adresse:</strong>
                  Partychamp<br>
                  Körnerstraße 5<br>
                  33803 Steinhagen
                </p>
              </li>
              <!--
              <li>
                <i class="fa fa-phone"></i>
                <p><strong>Phone:</strong></p>
              </li>
              -->
              <li>
                <i class="fa fa-envelope"></i>
                <p><strong>Email:</strong><a href="mailto:info@partychamp.de">info@partychamp.de</a></p>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </div>
    <!-- Footer Top End -->
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">&copy; Partychamp 2015. All Rights Reserved.</div>
          <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 ">
            <ul class="social social-icons-footer-bottom">
              <li class="facebook"><a href="https://www.facebook.com/partychamp" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
              <!--<li class="twitter"><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- Scroll To Top -->
  <a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
</div> <!-- /wrap -->

</body>
</html>
